body { background: #b1038; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 29px; display: flex; }
.block-cache-0 { color: #db725a; font-size: 18px; margin-bottom: 5px; }
.block-cart-1 { color: #443741; font-size: 14px; margin-bottom: 5px; }
.block-router-2 { color: #3a5e11; font-size: 21px; margin-bottom: 5px; }
.block-cart-3 { color: #3c535d; font-size: 19px; margin-bottom: 5px; }
.block-product-4 { color: #f67b99; font-size: 18px; margin-bottom: 5px; }
.block-payment-5 { color: #937423; font-size: 20px; margin-bottom: 5px; }